<div class="container">
  <div class="row">
    <div class="mt-20 font-segoe-ui text-8xl font-bold text-center">
      <br> Our Products</div>
    <p class="text-2xl text-gray-500 text-center">
      <br><br><br>
      We have offered various free services, which includes android applications, blogs, coding solutions and many more!
      <br><br>You can also download and enjoy them for free. some of them are listed below.
    </p>
  </div>
</div>


<div *ngFor="let left_product of left_products; let i=index">

  <div class="container">

    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8 items-center">
        <div class="mt-5 font-segoe-ui text-5xl font-bold text-center pl-64">
          {{left_product.title}}</div>
        <p class="text-lg text-gray-500 pl-64 font-serif text-center">
          {{left_product.description}}
        </p>
        <a *ngIf="left_product?.preview" href={{left_product.preview}} target="_blank"><button
            class="bg-darkturquoise mt-10 border-0 text-white px-8 py-4 text-center no-underline inline-block text-lg">{{left_product.previewtext}}</button></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 items-center">
        <img class="order-last sm:order-first" src={{left_product.image}} />
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 items-center">
        <img src={{right_products[i].image}} />
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="mt-5 font-segoe-ui text-5xl font-bold text-center">
          {{right_products[i].title}}</div>
        <p class="text-gray-500 text-lg pl-20 font-serif text-center">
          {{right_products[i].description}}
        </p>
        <a *ngIf="right_products[i]?.preview" href={{right_products[i].preview}}
          target="_blank"><button class="button-for-dev">{{right_products[i].previewtext}}</button></a>
      </div>
    </div>
</div>
</div>