<div class="container mb-40 mt-20">
  <div class="row">
    <div class="mt-20 font-segoe-ui text-7xl font-bold mb-10 text-center transform hover:rotate-x-12 hover:rotate-y-12 transition duration-500 ease-in-out perspective-1000">
      Our Products
    </div>
    <p class="text-2xl text-gray-500 text-center">
      We have offered various free services, which includes android applications, blogs, coding solutions and many more!
      You can also download and enjoy them for free. some of them are listed below.
    </p>
  </div>
</div>

<div class="container mb-20 mx-auto max-w-full">
  <div *ngFor="let left_product of left_products; let i=index">

    <div class="grid lg:grid-cols-3 gap-4  mt-10 grid-cols-1">

      <div class="container lg:col-span-2 items-center">
        <div class="font-segoe-ui text-5xl font-bold text-center">
          {{left_product.title}}</div>
        <p class="text-lg text-gray-500 font-serif text-center mt-3">
          {{left_product.description}}
        </p>
        <div *ngIf="left_product?.previewtext" class="bg-darkturquoise text-lg inline-block px-6 py-2 mt-10 element relative left-1/2 transform -translate-x-1/2">
          <a href={{left_product.preview}} target="_blank"><button
              class="text-white">{{left_product.previewtext}}</button></a>
        </div>
      </div>


      <div class="container h-64">
        <img class="max-h-full mx-auto" alt="Product logo"  src={{left_product.image}} />
      </div>


      <div *ngIf="right_products[i]?.image" class="container h-64">
        <img class="max-h-full mx-auto" alt="Product logo"  src={{right_products[i].image}} />
      </div>


      <div *ngIf="right_products[i]?.title" class="container lg:col-span-2">
        <div class="font-segoe-ui text-5xl font-bold text-center">
          {{right_products[i].title}}</div>
        <p class="text-gray-500 text-lg font-serif text-center mt-3">
          {{right_products[i].description}}
        </p>
        <div *ngIf="right_products[i]?.preview" class="bg-darkturquoise text-lg inline-block px-6 py-2 mt-10 element relative left-1/2 transform -translate-x-1/2">
          <a href={{right_products[i].preview}} target="_blank"><button
              class="text-white">{{right_products[i].previewtext}}</button></a>
        </div>
      </div>


    </div>
  </div>
</div>
